@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

.section {
  padding: 2rem 9%;
}

/* Deksripsi */
.des .deskripsibuku .deskripsi {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding-top: 8rem;
}

.content {
  margin-left: 2rem;
}

.image {
  margin-left: 8rem;
}

.image img {
  max-width: 360px;
  margin-left: 80px;
  border-radius: 10px;
}

.content h2 {
  color: rgb(0, 0, 0);
  font-size: 40px;
  margin-bottom: 5rem;
  font-family: 'Nunito', sans-serif;
}

.content h6 {
  color: rgb(0, 0, 0);
  font-size: 23px;
  margin-bottom: 2rem;
  font-family: 'Nunito', sans-serif;
}

.content p {
  color: rgb(0, 0, 0);
  font-size: 20px;
  margin-bottom: 2rem;
}

.line-benefit {
  height: 1.5px;
  width: 1000px;
  background-color: #505050;
  border-radius: 10px;
  margin: auto;
  margin-bottom: 10px;
}

.about {
  border-top: 0.2rem solid rgba(255, 244, 244, 0.1);
  font-size: 2rem;
  color: #000000;
  padding: 0.5rem;
  padding-top: 1.5rem;
  margin-top: 1.5rem;
  margin-left: 10rem;
}

.about p {
  margin-top: 1.5rem;
  font-size: 20px;
  font-family: 'Nunito', sans-serif;
}
/* Akhir Deskripsi */

/* link buku */
.downloadbuku {
  margin-top: 1rem;
  margin-left: 53rem;
  margin-right: 1rem;
  display: inline-block;
  font-size: 1.7rem;
  color: #fff;
  background: #ee4622;
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 0.8rem 3rem;
}

.readbook {
  margin-top: 1rem;
  margin-right: 1rem;
  display: inline-block;
  font-size: 1.7rem;
  color: #fff;
  background: var(--black);
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 0.8rem 3rem;
}

.readbook:hover {
  background: var(--green);
}

.readbookviaanyflip {
  margin-top: 1rem;
  display: inline-block;
  font-size: 1.7rem;
  color: #fff;
  background: var(--black);
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 0.8rem 3rem;
}

.readbookviaanyflip:hover {
  background: var(--green);
}
/* akhir link buku */

/* --------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------- */
/* Pengaturan di Setiap Layar */

/* Tablet */
@media (max-width: 576px) {
  .image {
    margin-left: -90px;
    margin-top: 20px;
  }

  .content {
    margin-top: 10px;
    margin-left: 5px;
  }

  .line-benefit {
    margin-left: -85px;
    width: 350px;
  }
  .about h2 {
    margin-left: -85px;
  }

  .about p {
    margin-left: -85px;
  }

  .downloadbuku {
    margin-left: 5px;
  }

  .readbookviaanyflip {
    margin-left: 5px;
  }
}
/* Akhir Tablet */
